
body {
    /* background-color: #83828293 ; */
    background-image: url("../images/milkyway.gif");
    background-repeat: no-repeat;
    background-size: cover ;
}

.intro {
    background-color: snow;
    padding: 15px;
    height: 180px auto;
}

#articleBackground {
    background-color: snow;
}


.title, .subtitle {
    color: snow;
    background-color: rgb(0, 0, 0);
    margin: auto;
    padding: 5px;
}

#break {
    border-color: black;
    border-width:2px;

}

#tagArea {
    margin-left: 0;
    text-align: center;
}

.jumbotron {
    text-align: center;
}

#jumbotron {
    background: url("../images/milkyway.jpg") no-repeat center;
    background-position-y: center;
    width: 1465px auto;
    margin-left: -180px auto;
}

#titleArea {
    text-align: center;
}

h2 {
    margin-left: -20px;
}

.storyTag {
    font-size: small;
}

#articleImages {
    height: 150px;
}

#emphasis {
    font-size: large;
}

.jsonButtons {
    color: snow;
}

#footer {
    text-align: center;
    color: snow;
    height: 25px;
    background-color: black;
}